.voicebox {
    display: block;
    background-color: rgb(102, 102, 189);
    height: 60px;
    line-height: 60px;
    text-align: center;
    color:white; 
   
}

.voicebutton {
    color : white !important; 
    text-transform: uppercase;
    width : 100%;
    height : 100%; 
    background-color: #2979FF;
    border : none; 
    
}