.namecontainer {
    border-radius: 4px;
    background-color:rgb(154, 155, 167); 
    padding: 2% 5%;
    margin-left: 5px;
    margin-bottom: 3px; 
    display: inline-block !important;
}   
.person {
   
   
}